<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farmbnb_cw1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FarmBnB_CW1">
        <activity
            android:name=".My_Account"
            android:exported="false" />
        <activity
            android:name=".Booking_Confirmation"
            android:exported="false" />
        <activity
            android:name=".Confirm_Booking_Details"
            android:exported="false" />
        <activity
            android:name=".Contact_FarmBnB"
            android:exported="false" />
        <activity
            android:name=".Select_Date"
            android:exported="false" />
        <activity
            android:name=".Select_Accommodation"
            android:exported="false" />
        <activity
            android:name=".Enter_Customer_Details"
            android:exported="false" />
        <activity
            android:name=".Booking_History"
            android:exported="false" />
        <activity
            android:name=".Sign_Up"
            android:exported="false" />
        <activity
            android:name=".Reset_Password"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>